li {
  margin: 0;
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  color: #000;
  transition: all 0.4s;
}
a:hover {
  text-decoration: none;
}
.slides>div {
  padding: 50px 0;
}
.slides #slide1 {
  padding: 0;
}
.title {
  text-align: center;
  margin: 50px 0;
}
.title .subtitle {
  margin: 0 auto;
  background-color: #ccc;
  color: #fff;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 36px;
}
.title .subtitle-1 {
  font-size: 4rem;
  letter-spacing: 2px;
  font-weight: 700;
  color: #121212;
}
.title .subtitle-1 span {
  padding: 0 10px;
  background-color: rgba(59,63,80,0.6);
  color: #fff;
  border-radius: 6px;
}
#header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #efefef;
  z-index: 2;
}
#header .navbar {
  margin: 0;
}
#header .navbar .container {
  height: 80px;
  position: relative;
}
#header .navbar .container .logo {
  float: left;
  margin-left: 50px;
}
#header .navbar .container .logo a {
  display: block;
}
#header .navbar .container .logo a img {
  max-height: 80px;
  width: auto;
}
#header .navbar .container .nav {
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#header .navbar .container .nav li {
  float: left;
}
#header .navbar .container .nav li a {
  margin-left: 15px;
  padding: 10px;
  font-size: 16px;
}
#header .navbar .container .nav li a:hover {
  color: #fff;
}
#header .navbar .container .nav li .border {
  border: 1px solid #000;
  border-radius: 10px;
}
#header .navbar .container .nav li .border:hover {
  color: #fff;
  background: #111;
}
.hamburger {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  right: 8%;
  transform: translateY(-50%);
  z-index: 10;
}
.hamburger .hamburger-span {
  position: absolute;
  width: 100%;
  height: 5px;
  background: #111;
  border-radius: 1px;
  transition: 0.6s;
}
.hamburger .hamburger-span:nth-child(2) {
  top: 10px;
}
.hamburger .hamburger-span:nth-child(3) {
  top: 10px;
}
.hamburger .hamburger-span:nth-child(4) {
  top: 20px;
}
.open .hamburger-span {
  background: #111;
  transition: 0.6s;
}
.open .hamburger-span:nth-child(1) {
  transform: translateY(45px);
  opacity: 0;
}
.open .hamburger-span:nth-child(2) {
  transform: rotate(45deg);
}
.open .hamburger-span:nth-child(3) {
  transform: rotate(-45deg);
}
.open .hamburger-span:nth-child(4) {
  transform: translateY(-45px);
  opacity: 0;
}
#slide1 {
  background: url("../image/bg1.jpg") no-repeat center center;
  background-size: cover;
  height: 662px;
}
#slide1 .header {
  text-align: center;
  color: #fff;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#slide1 .header .head-title {
  display: none;
}
#slide1 .header h2 {
  font-size: 4rem;
}
#slide1 .header h1 {
  font-size: 5rem;
}
#slide2 {
  color: #666;
}
#slide2 .intro-photo {
  text-align: center;
}
#slide2 .intro-photo .photo {
  width: 200px;
  height: 200px;
  margin-top: 20px;
  background: url("../image/2.jpg") no-repeat center center;
  background-size: cover;
  border: 1px solid #111;
  border-radius: 99em;
  display: inline-block;
}
#slide2 .intro {
  margin-top: 20px;
}
#slide2 .intro p {
  font-size: 1.5rem;
  line-height: 1.8em;
  margin-top: 20px;
}
#slide2 .detail {
  position: relative;
  font-size: 5rem;
  text-align: center;
  height: 100px;
  margin-top: 50px;
}
#slide2 .detail .cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 0.3rem;
  text-align: center;
  opacity: 0;
  transition: all 0.4s;
}
#slide2 .detail .cover:hover {
  opacity: 1;
  background-color: rgba(0,0,0,0.3);
  color: #fff;
}
#slide2 .detail .cover span {
  line-height: 100px;
}
#slide2 .detail .cover span a {
  color: #fff;
}
#slide2 .detail .cover span a:hover {
  color: #111;
}
#slide3 {
  background: #efefef;
}
#slide3 .work {
  margin: 30px 0;
}
#slide3 .work .col-sm-4 {
  position: relative;
}
#slide3 .work .col-sm-4 img {
  height: 100%;
  width: 100%;
}
#slide3 .work .col-sm-4 .cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: all 0.4s;
}
#slide3 .work .col-sm-4 .cover:hover {
  opacity: 1;
  background-color: rgba(0,0,0,0.3);
  color: #fff;
}
#slide3 .work .col-sm-4 .cover .desk {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#slide3 .work .col-sm-4 .cover .desk h1 {
  font-size: 20px;
}
#slide3 .work .col-sm-4 .cover a {
  font-size: 35px;
  color: #fff;
}
#slide3 .work .col-sm-4 .cover a:hover {
  color: #111;
}
#slide3 h2 {
  font-size: 50px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 700;
  margin-top: 50px;
}
#slide4 {
  background: url("../image/bg4.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  text-align: center;
}
#slide4 h1 {
  font-size: 3rem;
}
#slide4 div {
  width: 80%;
  margin: 0 auto;
}
#slide4 div p {
  font-size: 1rem;
}
#slide5 {
  background: #9199ad;
}
#slide5 .col-sm-3 {
  text-align: center;
}
#slide5 .col-sm-3 h1 {
  width: 100px;
  height: 100px;
  line-height: 100px;
  border: 1px solid #111;
  border-radius: 100%;
  margin: 0 auto;
}
#slide5 .col-sm-3 p {
  margin-top: 20px;
}
#slide5 .col-sm-4 {
  margin: 30px 0;
  text-align: center;
}
#slide5 .col-sm-4 .progress {
  position: relative;
  background-color: #ccc;
  margin: 0;
  color: #fff;
  text-align: left;
  height: 40px;
}
#slide5 .col-sm-4 .progress span {
  position: relative;
  z-index: 1;
  line-height: 40px;
}
#slide5 .col-sm-4 .progress .bar {
  position: absolute;
  top: 0;
  background-color: rgba(59,63,80,0.6);
  height: 100%;
  width: 0%;
  border-radius: 0 40px 40px 0;
  transition: all 2s;
}
#slide6 {
  background: #efefef;
}
#slide6 .locate {
  font-size: 36px;
  text-align: center;
  margin: 10px 0;
}
#slide6 .map {
  text-align: center;
}
#slide6 .social {
  margin-top: 50px;
  text-align: center;
}
#slide6 .social a {
  display: inline-block;
  font-size: 3rem;
  color: #efefef;
  background-color: rgba(59,63,80,0.6);
  padding: 0 10px;
  margin: 0 10px;
  border-radius: 20px;
}
#slide6 .social a:hover {
  color: #111;
}
#slide6 .social a i {
  display: inline-block;
}
.footer {
  background-color: #9199ad;
  padding: 20px 0;
}
.footer .container {
  text-align: center;
}
.footer .container .logo {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.footer .container .logo img {
  width: 100%;
  height: auto;
}
.footer .container span {
  font-size: 16px;
}
@media (min-width: 320px) {
  .header {
    max-width: 100%;
  }
  .hamburger {
    display: inline-block;
  }
  .nav {
    display: none;
  }
  #header .navbar .container .logo {
    margin-left: 10px;
  }
  .full-nav {
    max-width: 100%;
    height: 662px;
    position: relative;
    z-index: 5;
    background-color: #fff;
    display: none;
  }
  .full-nav ul {
    margin-top: 70px;
  }
  .full-nav ul li {
    font-size: 3rem;
    padding-bottom: 10px;
    border-bottom: 2px solid;
  }
  .full-nav ul li:nth-child(even) {
    text-align: right;
  }
  #slide3 .col-sm-4 {
    margin-top: 20px;
  }
  #slide6 .social a {
    margin: 10px;
  }
}
@media (min-width: 530px) {
  .hamburger {
    display: none;
  }
  .nav {
    display: block;
  }
}
